* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#nav {
    box-sizing: border-box;
    height: 80px;
    border-bottom: 3px solid rgb(252, 133, 7);
}

.nav_area {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
}

.nav_area .page_links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
}


/* school name style */

.nav_area .site_name strong {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(252, 133, 7);
}


/* nav pages link */

.page_links ul li {
    list-style: none;
    margin: 10px;
    padding: 6px;
}

.page_links ul li a {
    font-weight: 500;
    font-size: larger;
}

.page_links ul li a:hover {
    color: rgb(252, 133, 7);
}


/* nav area login registration  */

.login_registration a {
    width: 138px;
    padding: 0px;
    height: 34px;
    font-weight: 500;
    font-size: larger;
    margin: 6px;
    outline: 1px solid rgb(252, 133, 7);
}

.login_registration .btn-sm:hover {
    color: white;
    background-color: rgb(252, 133, 7);
}