.s_sidebar {
    background-color: rgb(228, 226, 223);
    border-radius: 8px;
    padding: 20px;
}

.s_sidebar ul li {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.s_sidebar ul li .bi {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.s_sidebar ul li span {
    display: none;
}

.s_sidebar ul li:hover span {
    display: inline;
}

.dashboard {
    width: 800px;
    background-color: #edebeb;
    padding: 10px;
}

.dashboard .log_id img {
    width: 100px;
}

.dashboard .log_id {
    margin: 5px 20px;
}

.dashboard .log_id div {
    font-size: 20px;
}

.student_details {
    padding: 20px;
    margin: 0 30px;
    font-size: 18px;
}


/* utils */

.d_flex {
    display: flex;
    flex-wrap: wrap;
}

.width_80 {
    margin: auto;
    width: 80%;
}

.j_content_space_between {
    justify-content: space-between;
}

.r_8 {
    border-radius: 8px;
}