{% extends 'accounts/base.html'%} {% block content %} {%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div id="home">
        <div class="home" style="padding-top: 200px; padding-bottom: 150px; margin-bottom: 0px; background: url({% static 'img/home_bg1.jpg' %}) no-repeat center / cover;">
            <div class="site_details">
                <div class="school_name">
                    <strong>
                        Children Academy Nauagarhi
                    </strong>
                </div>
                <div class="say">
                    <h3> Give a best education to your children.</h3>
                </div>
                <div class="cote">
                    <small> It is the supreme art of the teacher to awaken joy in creative expression and knowledge.</small>
                    <span>― Gerald Belcher</span>
                </div>

            </div>
        </div>
    </div>

    <div class="more_about_school">
        <div class="more_about_img">
            <img src="{% static 'img/home_library.jpg' %}" alt="">
        </div>
        <div class="more_about_contents">
            <h4>A B O U T &nbsp; U S </h4>
            <h3>
                Innovative Way To Learn.
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis culpa velit nihil temporibus deleniti molestiae itaque rerum? Debitis, reprehenderit vel harum ullam facere explicabo quas deserunt, dolor modi perferendis veritatis! Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Repellendus placeat corrupti magnam quis id libero fuga odio amet fugit natus omnis pariatur sunt a quia, aperiam, saepe veniam quidem voluptatem.</p>

            <a href="#"><button>Learn More</button></a>
        </div>

    </div>
    <div class="subjects">
        <div>
            <div>
                <h4>S U B J E C T S</h4>
            </div>
            <div class="subjects_title">
                <h3>Explore Top Subjects.</h3>
            </div>
            <div class="all_subject">
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub1.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>Web Design</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub9.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>Development</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub6.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>Game Design</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub3.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>Apps Design</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub5.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>Marketing</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub4.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>Research</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub7.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>Content Writing</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>
                <div class="subject">
                    <div class="sub_img">
                        <img src="{% static 'img/sub8.jpg' %}" alt="">

                    </div>
                    <div class="cou">
                        <span><strong>SEO</strong></span>
                        <span><small>100 Courses</small></span>
                    </div>
                </div>

            </div>


        </div>

    </div>
    <div class="teachers">
        <div>
            <div>
                <h4>T E A C H E R S</h4>
            </div>
            <div class="subjects_title">
                <h3>Meet Our Teachers.</h3>
            </div>
            <div class="all_teachers">
                <div class="teacher">
                    <div class="teacher_img">
                        <img src="{% static 'img/teacher1.jpg' %}" alt="">

                    </div>
                    <div class="social">
                        <div>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                        </div>

                    </div>
                    <div class="det">
                        <span><strong>Lorem, ipsum.</strong></span>
                        <span><small>Lorem, ipsum dolor.</small></span>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher_img">
                        <img src="{% static 'img/teacher2.jpg' %}" alt="">

                    </div>
                    <div class="social">
                        <div>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                        </div>
                    </div>
                    <div class="det">
                        <span><strong>Lorem, ipsum.</strong></span>
                        <span><small>Lorem, ipsum dolor.</small></span>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher_img">
                        <img src="{% static 'img/teacher3.jpg' %}" alt="">

                    </div>
                    <div class="social">
                        <div>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                        </div>
                    </div>
                    <div class="det">
                        <span><strong>Lorem, ipsum.</strong></span>
                        <span><small>Lorem, ipsum dolor.</small></span>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher_img">
                        <img src="{% static 'img/teacher4.jpg' %}" alt="">

                    </div>
                    <div class="social">
                        <div>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                            <a href="#"><i class="fa fa-facebook-f" ></i></a>
                        </div>
                    </div>
                    <div class="det">
                        <span><strong>Lorem, ipsum.</strong></span>
                        <span><small>Lorem, ipsum dolor.</small></span>
                    </div>
                </div>



            </div>


        </div>

    </div>




</body>

</html>

{%endblock%}