{% extends 'accounts/base.html'%} {% block content %} {%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>studentAccount</title>
    <link rel="stylesheet" href="{% static 'css/student_account.css' %}">
    <style>

    </style>
</head>

<body>

    <div class="d-flex width_80  j_content_space_between mt-5 mb-5">
        <div class="sidebar">
            {%include 'include/s_sidebar.html'%}
        </div>
        <div class="dashboard r_8">
            <div class="d_flex log_id j_content_space_between ">
                <div class="d_flex ">
                    <span>Login as:</span>&nbsp;
                    <strong>{{user.username}}</strong>

                </div>
                <img src="{% static 'img/teacher1.jpg' %}" alt="">
            </div>
            <hr>
            <div class="student_details">
                <div class="d_flex j_content_space_between">
                    <h4 class="mb-3">First Name</h4>
                    <h4>First Name</h4>
                </div>
                <div class="d_flex j_content_space_between">
                    <h4 class="mb-3">Class</h4>
                    <h4 class="mb-3">section</h4>
                    <h4>Roll no</h4>
                </div>
                <div class="d_flex j_content_space_between">
                    <h4 class="mb-3">city</h4>
                    <h4 class="mb-3">Village</h4>
                    <h4>Pin Code</h4>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

{%endblock%}