{% extends 'accounts/base.html'%} {% block content %} {%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>studentAccount</title>
    <link rel="stylesheet" href="{% static 'css/student_account.css' %}">
    <style>

    </style>
</head>

<body>
    <h2>{{user.username}}</h2>
    <div class="student_account">
        <div class="sidebar" style="width: 600px; height: 800px;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate est eos, iusto possimus at numquam saepe, beatae magnam aut eveniet nulla impedit quis doloribus expedita autem sit porro nostrum! Doloremque, natus ducimus perspiciatis debitis reprehenderit,
            eum similique ipsam beatae aut cum ad dolorem ipsa eligendi incidunt harum asperiores tenetur! Ipsam eveniet debitis quisquam maiores expedita sequi illo aperiam quos exercitationem at doloribus ipsum corporis soluta labore voluptatem, sit
            iusto? Sequi beatae eos soluta officiis dolorem officia incidunt corporis, obcaecati harum ipsum molestias quam nihil? Commodi numquam cumque perspiciatis suscipit voluptates. Neque ut odio nihil consequuntur, beatae voluptates numquam minima
            aliquid.
            <div>

            </div>
        </div>
        <div class="student_form">
            <div class="student_img">
                <div class="img" id="img-1">
                    <img src="{%static 'img/sub1.jpg'%}" alt="img">
                    <div class="image_input">
                        <label for="">image</label>
                        <input type="file" name="" id="">

                    </div>
                </div>
                <div class="img" id="img-2">
                    <img src="{%static 'img/sub1.jpg'%}" alt="img">
                    <div class="image_input">
                        <label for="">image</label>
                        <input type="file" name="" id="">

                    </div>
                </div>
                <div class="img" id="img-3">
                    <img src="{%static 'img/sub1.jpg'%}" alt="img">
                    <div class="image_input">
                        <label for="">image</label>
                        <input type="file" name="" id="">

                    </div>
                </div>
            </div>
            <div class="student_input">
                <div class="inputs">
                    <div class="input " id="input1">
                        <label for="">Name</label>
                        <input type="text" name="" id="">

                    </div>
                    <div class="class ">
                        <div class="input" id="input2">
                            <label for="">Class</label>
                            <input type="text" name="" id="">

                        </div>

                        <div class="input " id="input3">
                            <label for="">Section</label>
                            <input type="text" name="" id="">

                        </div>

                        <div class="input " id="input4">
                            <label for="">Roll No</label>
                            <input type="text" name="" id="">

                        </div>


                    </div>

                    <div class="input " id="input5">
                        <label for="">Class Teachers Name</label>
                        <input type="text" name="" id="">

                    </div>
                    <div class="input " id="input6">
                        <label for="">Address</label>
                        <input type="text" name="" id="">

                    </div>
                    <div class="input " id="input7">
                        <label for="">Pin Code</label>
                        <input type="text" name="" id="">

                    </div>
                    <div class="input " id="input8">
                        <label for="">District</label>
                        <input type="text" name="" id="">

                    </div>



                </div>

            </div>
        </div>
    </div>
</body>

</html>

{%endblock%}