<!DOCTYPE html> {%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

</head>

<body>
    <footer>
        <div class="school_name">
            <h2>children's Academy</h2>
        </div>
        <!-- <hr> -->
        <div class="social_m d-flex">
            <div class="d-flex">
                <span>Developed by: </span> &nbsp; <a href="https://desibhojan.shop/virat_profile/" style="color: rgb(252,133,7);">Virat Raj</a>

            </div>
            <div class="d-flex">
                <div>
                    <h5>contact on social media</h5> &nbsp;
                </div>&nbsp;
                <div class="social_icon">
                    <a href=""><i class="bi bi-whatsapp"></i></a>
                    <a href=""><i class="bi bi-youtube"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>