<!DOCTYPE html> {%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/student_account.css' %}">

    <title>Document</title>
</head>
<style>
    * {
        list-style: none;
        text-decoration: none;
    }
</style>

<body>
    <div class="s_sidebar">
        <ul>

            <a href="">
                <li> <i class="bi bi-house"></i><span>Dashboard</span> </li>
            </a>

            <a href="">
                <li><i class="bi bi-person"></i><span>Account</span></li>
            </a>

            <a href="">
                <li><i class="bi bi-chat-left-dots"></i><span>Post Blog</span></li>
            </a>

            <a href="">
                <li><i class="bi bi-box-arrow-in-right"></i><span>Logout</span></li>
            </a>
        </ul>
    </div>
</body>

</html>